<!DOCTYPE html>
<html>
<head>
	<title>Cabezzius Blog</title>

</head>

<body><div><h1><a href="">Django Girls Blog</a></h1></div>
<div><p>published: 23.07.2017 11:57</p>
<h2><a href="">My First Post</a></h2>
<p>loren ipsum loren ipsum lonrsre polsds sldif  istsus dkssp dfisdk </p>

</div>
<div>
	<p>published: 12.25.2015 13:45</p>
	<h2><a href="">My Second Post</a></h2>
	<p>postumo eolo loquam ensurcia custacia estridentia, retrimundicia losimandragora, etrusco golatra ypseca lorenza solanacua granditergia estrupenvia blogisima falera.</p>
</div>
</body>
</html>